


 <div class = "container">
  <div class = "row">
    <div class = "col-xs-12">
      <!-- <app-testing></app-testing> -->
      <!-- <label>UserName</label>
      <input type="text" class="form-Control" [(ngModel)]="userName">
      <p> {{userName}} </p>
      <button class=" btn btn-primary" [disabled] ="userName === ''"
      (click)="userName=''">ResetUser</button> -->
      <!-- <button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button> -->
      <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>

      <p *ngIf = "showSecret">Secret Password = tuna</p>
      <div *ngFor="let logItem of log ;let i = index"
      [ngStyle] = "{backgroundColor: i >=4 ? 'blue' : 'transparent'}"
      [ngClass] = "{'white-text' : i >=4}">
       {{logItem}} </div>
     
      <!-- <h2> hello I am from App Component!!</h2>
      <hr>
      <app-servers></app-servers>
      <hr> -->
      <!-- <app-warning></app-warning>
      <app-success></app-success> -->
<!-- 
    </div>
  </div>
</div> -->

<!-- <input type ="text" [(ngModel)] = "name">
  <p> {{name}}</p>
  <h1> welcome to MAC, {{title}} </h1> -->
  